@inherits LayoutComponentBase

<div class="page">
    <header class="page_header">
        <PageHeader />
    </header>
    <div class="page_sidebar">
        <NavMenu />
    </div>
    <div class="page_body">
        @Body
    </div>
    <footer class="page_footer">
        <PageFooter />
    </footer>
</div>