<p>Vega is copyright © 2024 Aliya Delnore.</p>
<p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.</p>
<p>Theme inspired by <a href="https://github.com/joeroe/risotto">risotto</a> for <a href="https://gohugo.io">hugo</a>.</p>