<ul class="header_nav">
    <li class="header_logo">
        <a class="hidden_link" href="/">
            <h1>[vega.euphory.gay] $</h1>
        </a>
    </li>
    <li class="header_nav_item">
        <a href="https://euphory.gay">..</a>
    </li>
    <li class="header_nav_item">
        <a href="/catalog">catalog</a>
    </li>
</ul>