@page "/404"

<PageTitle>Error 404</PageTitle>

<div class="page_body_field">

    <h1>Error 404</h1>

    <p>Sorry, it appears the page you have been linked to or requested does not exist.</p>

    <p>Return to <a href="/">Vega homepage?</a></p>

</div>
