@page "/courses/{QuerySubject}"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Courses</PageTitle>

<h1>Courses</h1>

<p>Here is a list of all @QuerySubject courses:</p>

@if (courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Typically offered</th>
                <th>Internal ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course.FormattedCatalogNumber()</td>
                    <td>@course.Title</td>
                    <td>@course.FormattedTypicalTerms()</td>
                    <td>@course.InternalId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string? QuerySubject { get; set; }

    private Course[]? courses;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCoursesAsync();
            StateHasChanged();
        }
    }

    private async Task LoadCoursesAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<Course[]>($"courses-{QuerySubject}");
        if (result.Success) courses = result.Value;
        else
        {
            courses = await Course.GetAllCoursesAsync(QuerySubject);
            await ProtectedSessionStore.SetAsync($"courses-{QuerySubject}", courses);
        }
    }
}