@page "/"

<PageTitle>Home</PageTitle>

<div class="page_body_field">

    <h1>Welcome to Vega!</h1>

    <p>Welcome to Vega, an alternative to the Degree Planner included with Pitt's favored PeopleSoft suite!</p>
    <p>Vega's features include:</p>
    <ul class="list">
        <li>browsing and searching Pitt's catalog,</li>
        <li>automatic class requisite evaluation and degree planning,</li>
        <li>and more to come!</li>
    </ul>
    <p>It is my hope that you'll find everything you need here to chart out your path through each semester.</p>

</div>