@page "/subjects/{Campus}"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Subjects</PageTitle>

<div class="page_body_field">

    <h1>Subjects</h1>

    <p>Here is a list of all Pitt catalog subjects:</p>

    @if (subjects == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="table">
            <div class="table_row table_head">
                <div class="table_cell">Subject</div>
                <div class="table_cell">Description</div>
            </div>
            @foreach (var subject in subjects)
            {
                <a class="hidden_link table_row table_body" href="/courses/@Campus/@subject.Name">
                    <div class="table_cell">@subject.Name</div>
                    <div class="table_cell">@subject.Description</div>
                </a>
            }
        </div>
    }

</div>

@code {
    [Parameter]
    public required string Campus { get; set; }

    private Subject[]? subjects;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadSubjectsAsync();
            StateHasChanged();
        }
    }

    private async Task LoadSubjectsAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<Subject[]>("subjects");
        if (result.Success)
        {
            subjects = result.Value;
        }
        else
        {
            subjects = await Subject.GetAllSubjectsAsync();
            await ProtectedSessionStore.SetAsync("subjects", subjects);
        }
    }
}
