@page "/subjects"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Subjects</PageTitle>

<div class="page_body_field">

    <h1>Subjects</h1>

    <p>Here is a list of all Pitt catalog subjects:</p>

</div>

@if (subjects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var subject in subjects)
    {
        <div class="page_body_field">
            <a class="hidden_link table_row table_body" href="/courses/@subject.Name">
                <h2>@subject.Name @subject.Description</h2>
            </a>
        </div>
    }
}

@code {
    private Subject[]? subjects;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadSubjectsAsync();
            StateHasChanged();
        }
    }

    private async Task LoadSubjectsAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<Subject[]>("subjects");
        if (result.Success)
        {
            subjects = result.Value;
        }
        else
        {
            subjects = await Subject.GetAllSubjectsAsync();
            await ProtectedSessionStore.SetAsync("subjects", subjects);
        }
    }
}
