<div class="page_body_field">
    <h2 class="collapsible_header" @onclick="Toggle">@HeaderContent</h2>
    @if (isExpanded)
    {
        @ChildContent
    }
</div>

@code {
    [Parameter]
    required public RenderFragment HeaderContent { get; set; }

    [Parameter]
    required public RenderFragment ChildContent { get; set; }

    private bool isExpanded = false;

    private void Toggle()
    {
        isExpanded = !isExpanded;
        StateHasChanged();
    }
}