<div class="page_body_field">

    <h2 class="collapsible_header @(IsExpanded ? "expanded" : "collapsed")" @onclick="Toggle">@HeaderContent</h2>

    @if (IsExpanded)
    {
        @ChildContent
    }

</div>

@code {
    [Parameter]
    required public RenderFragment HeaderContent { get; set; }

    [Parameter]
    required public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsExpanded { get; set; } = false;

    private void Toggle()
    {
        IsExpanded = !IsExpanded;
        StateHasChanged();
    }
}